Django==3.0.8
docutils==0.16
grpcio
h5py==2.10.0
Jinja2==2.11.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
mccabe==0.6.1
mido==1.2.9
music21==5.7.2
numba==0.53.1
numpy
tensorboard
tensorboard-plugin-wit==1.6.0.post3
tensorflow
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
gunicorn==19.6.0
whitenoise==5.2.0
pickleshare==0.7.5
